<div *ngIf="!state.started && !state.finished" class="container has-text-centered">
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Language</p>
                <p class="title">
                    {{ state.language === 'de' ? 'German' : 'English' }} 
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>                  
                    {{ state.language === 'de' ? 'English' : 'German' }} 
                </p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Vocab level</p>
                <p class="title">{{ state.level }}</p>
            </div>
        </div>
    </nav>

    <button class="button is-info is-outlined is-inverted is-large is-start" (click)="changeStartedState()">
        <i class="fa fa-play-circle" aria-hidden="true"></i>&ensp;Start
    </button>
</div>

<div *ngIf="state.started" class="container">

    <div class="card">
        <header class="card-header">
            <p class="card-header-title is-size-4">
                {{ wordObj.word }}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                
                <div class="field has-addons">
                    <div class="control has-icons-left is-expanded">
                        <input class="input" type="text" [(ngModel)]="answer" required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-globe"></i>
                        </span>
                    </div>
                    <div>
                        <button class="button is-info" [disabled]="!answer.length" (click)="submitTranslation()"
                            >Check
                        </button>
                    </div>
                </div>

                <div>
                    <button class="button" (click)="incorrectOptions('retry')" [disabled]="!answered">
                        <i class="fa fa-repeat" aria-hidden="true"></i>
                    </button>
                    <button class="button" (click)="incorrectOptions('show')" [disabled]="!answered">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <button class="button" (click)="answerFeedback(true)" [disabled]="!feedback">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    </button>
                    <button class="button" (click)="answerFeedback(false)" [disabled]="!feedback">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                    </button>
                </div>
    
            </div>
        </div>

        <footer class="card-footer">
            <a class="card-footer-item" (click)="changeStartedState()">
                <i class="fa fa-check" aria-hidden="true"></i>&ensp;End
            </a>
            <a class="card-footer-item" (click)="showHint()">
                <i class="fa fa-question" aria-hidden="true"></i>&ensp;Hint
            </a>
            <a class="card-footer-item" (click)="nextWord()">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>&ensp;Next
            </a>            
        </footer>

    </div>

</div>

<div *ngIf="state.finished" class="container has-text-centered">

    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Words</p>
                <p class="title">{{ gameState.playedCountTotal }}</p>
            </div>
        </div>      
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Correct</p>
                <p class="title">{{ ((gameState.playedCountCorrect / gameState.playedCountTotal * 100) || 0.0).toFixed() }}%</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Average Hints Used</p>
                <p class="title">{{ ((gameState.hintCountTotal / (gameState.playedCountTotal || 1)) || 0.0).toFixed() }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Average Retries</p>
                <p class="title">{{ ((gameState.retryCount / (gameState.playedCountTotal || 1)) || 0.0).toFixed() }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Time Played</p>
                <p class="title">{{ ((gameState.endTime - gameState.startTime) / 1000).toFixed(1) }}s</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Time per Word</p>
                <p class="title">{{ ((gameState.endTime - gameState.startTime) / (gameState.playedCountTotal || 1) / 1000).toFixed(1) }}s</p>
            </div>
        </div>
    </nav>

    <button class="button is-info is-outlined is-inverted" (click)="changeStartedState()">Restart</button>

</div> 
