<div class="hero-head">

    <!-- Not started state  -->
        
    <header *ngIf="!state.started && !state.finished" class="nav">
        <div class="nav-center">
            <nav class="tabs is-medium is-left">
                <ul *ngFor="let lang of ['de', 'en']">
                <li [class]="state.language === lang ? 'is-active' : null" (click)="setState({key: 'language', value: lang})">
                    <a>{{ lang.toUpperCase() }}</a>
                </li>
                </ul>
            </nav>
        </div>
        <div class="nav-center">
            <nav class="tabs is-medium is-right">
                <ul *ngFor="let i of [1, 2, 3]">
                <li [class]="state.level === i ? 'is-active' : null" (click)="setState({key: 'level', value: i})">
                    <a>{{i}}</a>
                </li>
                </ul>
            </nav>
        </div>    
    </header>

    <!-- Started state -->

    <header *ngIf="state.started" class="nav">
        <div class="container">
            <div class="nav-left">
                <div class="nav-item">
                    {{ gameState.statusText || gameState.hint }}
                </div>
            </div>
            <div class="nav-right">
                <div class="nav-item">
                    {{ gameState.playedCountCorrect }}/{{ gameState.playedCountTotal }}
                </div>
            </div>
        </div>
    </header>

    <!-- Finished State -->

    <header *ngIf="state.finished" class="nav">
        <div class="container">
            <div class="nav-center">
                <div class="nav-item">
                    Your statistics
                </div>
            </div>
        </div>
    </header>

</div>