<section class="hero is-success is-fullheight">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head">
    
    <header *ngIf="!started" class="nav">
      <div class="nav-center">
        <nav class="tabs is-medium is-left">
          <ul>
            <li [class]="checkLanguageToggle('de')" (click)="setLanguage('de')"><a>DE</a></li>
            <li [class]="checkLanguageToggle('en')" (click)="setLanguage('en')"><a>EN</a></li>
          </ul>
        </nav>
      </div>
      <div class="nav-center">
        <nav class="tabs is-medium is-right">
          <ul *ngFor="let i of [1, 2, 3]">
            <li [class]="checkLevelToggle(i)" (click)="setLevel(i)"><a>{{i}}</a></li>
          </ul>
        </nav>
      </div>    
    </header>

    <header *ngIf="started" class="nav">
        <div class="nav-center"></div>
    </header>

  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    
    <div *ngIf="!started" class="container has-text-centered">
      <nav class="level">
          <div class="level-item has-text-centered">
              <div>
                <p class="heading">Language</p>
                <p class="title">
                  {{ language === 'de' ? 'German' : 'English' }} 
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>                  
                  {{ language === 'de' ? 'English' : 'German' }} 
                </p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Vocab level</p>
                <p class="title">{{ level }}</p>
              </div>
            </div>
      </nav>

      <button class="button is-large is-start" (click)="startGame()">
          <i class="fa fa-play-circle" aria-hidden="true"></i>&ensp;Start
      </button>
    </div>

  <div *ngIf="started" class="container has-text-centered">
    <app-game [language]="language" [level]="level" 
      (pageChange)="onEvent($event)">
    </app-game>
  </div>

  </div>
