<section class="hero is-success is-fullheight">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head">
    <header class="nav">
      <div class="nav-center">
        <nav class="tabs is-medium is-left">
          <ul>
            <li [class]="checkLanguageToggle('de')" (click)="setLanguage('de')"><a>DE</a></li>
            <li [class]="checkLanguageToggle('en')" (click)="setLanguage('en')"><a>EN</a></li>
          </ul>
        </nav>
      </div>
      <div class="nav-center">
        <nav class="tabs is-medium is-right">
          <ul *ngFor="let i of [1, 2, 3]">
            <li [class]="checkLevelToggle(i)" (click)="setLevel(i)"><a>{{i}}</a></li>
          </ul>
        </nav>
      </div>    
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    
    <div *ngIf="!started" class="container has-text-centered">
      <h1 class="title">
        Select language and level of vocabulary to test before you begin.
      </h1>
      <button class="button is-large" (click)="startGame()">
          <i class="fa fa-play-circle" aria-hidden="true"></i>&ensp;Start
      </button>
    </div>

  <div *ngIf="started" class="container has-text-centered">
    <h1 class="title">OK!</h1>
    <app-game [language]="language" [level]="level"></app-game>
  </div>

  </div>
